@charset "UTF-8";

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: "Veneer", Arial, sans;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.navbar {
    position: fixed !important;
    background:  #545253 url('../images/papizza/header-bg-tile.jpg') repeat top left;
    width: 100%;
    left: 0;
    right: 0;
    height: 100px;
    top: 0;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 1.3909224012% 0.9375em;
    z-index: 999;
    
}
nav .navbar-nav li a{
    font-family: "Veneer", Arial, sans;
    color: #010101;
    line-height: 1.4;
    justify-content: space-between;
    font-size:20px; 
    margin: 18px;
    
}
.navbar-nav .active,
.navbar-nav li a:hover{
    color: #010101;
  border-bottom: 3px solid #cf2027 ;

}

.banner{
  width: 100%;
}

.banner img{
  height: 100%;
  width: 100%;
}


@media screen and (max-width:984px) {
    nav .logo{
        width: 75px;
    }
    nav .connect-left{
        display: block !important;
        display: flex !important;
        flex-direction: column;
    }
    nav .connect-right{
        display: none !important;
    }
    nav .navbar-nav{
        position:relative;
        float: right;
        top:20px;
        left: 0;
        right: 80px;
        bottom: 0;
        text-align: right;
        width: 200px;
        z-index: 2;
        background-color: rgb(0, 0, 0, .9);
        transition: all .5s ease-in-out;
        padding: 10px;

    }
    nav  .navbar-nav li a{
        padding: 8px;
        font-size: 12px;
        color: #fff !important;

    }
 
    .navbar-nav .active,
    .navbar-nav li a:hover{
    color: #fff;
    border-bottom: 3px solid #cf2027 ;
  
  }
  
   
}



nav .connect{
    display: flex;
    flex-direction: column;
}

.connect a{
    font-family: "Veneer", Arial, sans;
    text-decoration: none;
    padding: 2px;
    margin: 5px 10px 0px;
    text-align: center;
    color: #fff;
    font-size:18px;
}

.connect .log-up {
    background:#cf2027;
}
.connect .login {
    background: #436503;
}
.connect a:hover{
    color: #fff;
}

@media screen and (max-width:652) {

    .connect a{
        font-size: 10px !important;
    }
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaStd-Medium.woff2") format("woff2"), url("../fonts/FuturaStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../fonts/FuturaStd-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Veneer";
    src: url("../fonts/Veneer.woff2") format("woff2"), url("../fonts/Veneer.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Veneer";
    src: url("../fonts/Veneer-Italic.woff2") format("woff2"), url("../fonts/Veneer-Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "fontello";
    src: url("../fonts/fontello.eot?89225120");
    src: url("../fonts/fontello.eot?89225120#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?89225120") format("woff2"), url("../fonts/fontello.woff?89225120") format("woff"), url("../fonts/fontello.ttf?89225120") format("truetype"), url("../fonts/fontello.svg?89225120#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "fontello-tiktok";
    src: url("../fonts/fontello_tiktok.woff2?89225120") format("woff2"), url("../fonts/fontello_tiktok.woff?89225120") format("woff");
    font-weight: normal;
    font-style: normal;
  }



/* page index*/

.carousel-control-next >.carousel-control-next-icon,
.carousel-control-prev> .carousel-control-prev-icon
{
  width: 100px !important;
}
.content-area{
  display: grid;
  grid-template-columns: minmax(10px, 500px) 4.831625183% 24.8901903367% 17.9355783309% 15.1537335286% [end] 24.9633967789%;
  grid-template-rows: repeat(6, minmax(10px, 100px)); 
}
.content-area{
  position: relative;
  z-index: 10;
  height: 100vh;
  background: url('../images/papizza/pizza-bg.png') no-repeat -300px center, url('../images/papizza/body-bg-tile.jpg') repeat top left !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

}
@media (min-width: 769px)
{
  .content-area {
    display: grid;
    grid-template-columns: minmax(10px, 500px) 4.831625183% 24.8901903367% 17.9355783309% 15.1537335286% [end] 24.9633967789%;
    grid-template-rows: repeat(6, minmax(10px, 100px));
}
}
@supports (grid-area: auto){
  .content-area {
    display: grid;
    grid-template-columns: minmax(10px, 500px) 4.831625183% 24.8901903367% 17.9355783309% 15.1537335286% [end] 24.9633967789%;
    grid-template-rows: repeat(6, minmax(10px, 100px));
}
}

.content-area-1{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 3;
  align-self: center;
  height: 100%;
  width: 100%;
  width: 20.7203513909%;
  min-width: 20px;
  position: relative;
  right: 0;
  margin-top: 3.4375em;
  z-index: 5;
}

@media (min-width: 769px){

.content-area-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@supports(grid-area: auto){

  .content-area-1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
.content-area-1{
  width: 400px;
  height: 300px;
  background: #cf2027;
  padding: 2.0625em 1.1875em;
}
.content-area-1-title,.content-menu-title{
  color: white;
  line-height: 1.1;
  font-size: 60px !important;
  font-family: "Veneer", Arial, sans;
}



@media (max-width: 769px){

.content-area-1-title,.content-menu-title{
    font-size: 20px;
 }
}
@supports(grid-area: auto){

  .content-area-1-title,.content-menu-title{
      font-size: 20px;
   }
  }
@media screen and (max-width: 900px){
   .content-menu-title, .content-area-1-title {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 320px){
 .content-menu-title, .content-area-1-title {
    font-size: calc(46px + 40 * ((100vw - 320px) / 580));
  }
}

p:last-child {
  margin-bottom: 0;
}

@media (max-width: 769px){
  .content-area-1-paragraph, .content-menu-paragraph {
    font-size: 23px;
    line-height: 1.1;
  }
}

.content-area-1-paragraph,.content-menu-paragraph{
  margin: 20px !important;
}

@media screen and (max-width: 900px){
.content-area-1-paragraph, .content-menu-paragraph  {
    font-size: 33px;
  }
}

@media screen and (max-width: 320px){
.content-area-1-paragraph, .content-menu-paragraph  {
    font-size: calc(16px + 17 * ((100vw - 320px) / 580));
  }
}

.content-area-1-paragraph, .content-menu-paragraph {
  margin-bottom: 1rem;
  font-size: 22px !important;
  font-family: "Veneer", Arial, sans;
}
p {
  margin-bottom: 1.5625rem;
}
h1, h2, h3, p {
  margin-bottom: 0em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content-area-1-gusto {
  background: url(../images/papizza/gusto-pizza.jpg) no-repeat center center;
  background-size: cover !important;
  z-index: 1;
  height: 100px;
  width: 80%;
  right: 0;
  align-self: flex-start;
  margin-top: -80px;
  position: static;
}

@media (min-width: 769px)
{
  .content-area-1-gusto {
    position: relative;
    margin-top: 0;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 5;
    height: 100%;
    width: 100%;
  }
}

@supports(grid-area: auto)
{
  .content-area-1-gusto {
    position: relative;
    margin-top: 0;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 5;
    height: 100%;
    width: 100%;
  }
}



.content-area-corta{
  background: url(../images/papizza/corte-pizza.jpg) no-repeat center center;
  background-size: cover;
  z-index: 4;
  height: 302px;
  width: 250px;
  position: static;
}

@media (min-width: 769px)

{
  .content-area-corta {
    position: relative;
    grid-column: 5/span 2;
    grid-row-start: 1;
    grid-row-end: span 4;
    height: 100%;
    width: 100%;
}

}
@supports(grid-area: auto)

{
  .content-area-corta {
    position: relative;
    grid-column: 5/span 2;
    grid-row-start: 1;
    grid-row-end: span 4;
    height: 100%;
    width: 100%;
}

}

.content-area-corta-marker {
  justify-content: space-between;
  align-items: center;
  width: 70%;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  position: absolute;
    left: 5.1244509517%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
}

@media (min-width: 769px)
{
  .content-area-corta-marker {
    left: 0;
    width: 42.972181552%;
    top: 1.25em;
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
}
}
@supports(grid-area: auto)
{
  .content-area-corta-marker {
    left: 0;
    width: 42.972181552%;
    top: 1.25em;
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
}
}



@media (min-width: 769px)
{
  .content-area-corta-marker, .home-nuestra-pizza__marker-corte {
    -webkit-transform: translate(0);
    transform: translate(0);
    width: auto;
}
}
@supports(grid-area: auto)
{
  .content-area-corta-marker, .home-nuestra-pizza__marker-corte {
    -webkit-transform: translate(0);
    transform: translate(0);
    width: auto;
}
}

.content-area-1-gusto-marker {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 170px;

  transform: translateY(-120px);
}

@media (min-width: 769px){
  .content-area-1-gusto-marker {
    flex-direction: row-reverse;
    right: 0;
    left: auto;
    width: 28.3308931186%;
    -webkit-transform: translateX(75%);
    transform: translateX(75%);
    bottom: 0;
}
}
  @supports (grid-area: auto)
  {
.content-area-1-gusto-marker {
    flex-direction: row-reverse;
    right: 0;
    left: auto;
    width: 28.3308931186%;
    -webkit-transform: translateX(75%);
    transform: translateX(75%);
    bottom: 0;
}
}
@media (min-width: 769px)
{
  .content-area-1-gusta-line {
    width: 100%;
    height: 1px;
}
}
@supports (grid-area: auto){
  .content-area-1-gusta-line {
    width: 100%;
    height: 1px;
}
}

.content-area-1-gusta-line{
  height: 1px;
  background: #cf2027;
  width: 100%;
}

.content-area-corta-subtile,
.content-area-corta-gouter,
.content-area-1-gusto-subtitle,
.content-menu-subtitle
{
  background: #cf2027;
  color: white;
  display: inline-block;
  font-size: 1.375em;
  padding: 5px 10px;
  flex-shrink: 0;

}
.content-area-corta-gouter a, 
.content-area-1-gusto-subtitle a,
.content-menu-marker a{

  font-family: "Veneer", Arial, sans;
  text-decoration: none;
  color: #fff;
}

.content-area-corta-gouter a:hover{
  color: #fff;
}

.content-area-1-gusto-subtitle a:hover{
  color: #fff;
}


@media (min-width: 769px)
{
  .content-area-corta-line, .content-menu-line{
    width: 100%;
    height: 1px;
}
}

.content-area-corta-line, .content-menu-line {
    height: 100%;
    width: 1px;
}
.content-area-corta-line, .content-menu-line {
    height: 1px;
    background: #cf2027 !important;
    width: 100%;
}


.content-area-corta_plus,.content-menu-plus, .content-area-1-gusta_plus {
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  height: 19px;
  width: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #cf2027 url(../images/papizza/plus.png  ) no-repeat center center;
}

.content-menu{
  height: 100vh !important;
  position: relative;
  z-index: 20;
   background: url(../images/home/slice-bg.png) no-repeat right center, #f0f0f0 url(../images/papizza/carta-tile-bg.jpg) repeat top left;
}
.content-area-2{
  width: 20.7203513909%;
  min-width: 280px;
  position: relative;
  z-index: 5;
  background: #cf2027;
  padding: 2.0625em 1.1875em;
}

.content-menu-subtitle{
  position: relative;
  z-index: 2;
}
@media (min-width: 769px)
{
  .content-area-2 {
    width: 25.1098096633%;
    margin-left: 50.1464128843%;
    padding-top: 3.125em;
    padding-bottom: 1.25em;
    line-height: 1.1;
}
}

@media (min-width: 769px)
{
.content-area-2{
  width: 25.4099560761%;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
}
.content-menu-posta{
  display: flex;
  align-items: center;
  color: #545253;
  font-size: 1.375em;
  padding-bottom: 1.5909090909em;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 769px)
{
  .content-menu-posta {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding: 6em 0;
    width: 81.8448023426%;
    margin: 0 auto;
  }
}
@supports (grid-area: auto)
{
  .content-menu-posta {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding: 6em 0;
    width: 81.8448023426%;
    margin: 0 auto;
  
  }
  .content-menu-posta{
    display: grid;
  }
}
ol, ul {
  list-style: none;
}

.content-menu-marker{
  margin-top: -40px;
}
@media (min-width: 769px)
{
  .ccontent-menu-marker {
    display: grid;
    grid-template-columns: 85.71428571% 1fr 19px;
    grid-template-rows: auto;
    margin-left: 11.9326500732%;
    width: 27.1595900439%;
}
}
@supports (grid-area: auto)
{
.content-menu-marker {
    display: grid;
    grid-template-columns: 85.71428571% 1fr 19px;
    grid-template-rows: auto;
    margin-left: 11.9326500732%;
    width: 27.1595900439%;
}
}
@media (min-width: 769px)
{
  .content-menu-line {
    width: 100%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border: 1px solid #cf2027;
    border-bottom: 0;
    border-left: 0;
    grid-column: 2/span 2;
    -webkit-transform: translateY(20px);
    grid-row: 1/span 2;
    transform: translateY(20px);
}

}
@supports (grid-area: auto){
  .content-menu-line {
    width: 100%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border: 1px solid #cf2027;
    border-bottom: 0;
    border-left: 0;
    grid-column: 2/span 2;
    -webkit-transform: translateY(20px);
    grid-row: 1/span 2;
    transform: translateY(20px);
}

}
.content-menu-line{
  width: 1.2942898975%;
  height: 4.25em;
  border: 1px solid #cf2027;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
}

@media (min-width: 769px){
  .content-menu-plus {
    grid-column: 3/span 1;
    grid-row: 3/span 2;
    -webkit-transform: translate(50%, 20px);
    transform: translate(50%, 20px);
}
}
@supports (grid-area: auto){
  .content-menu-plus {
    grid-column: 3/span 1;
    grid-row: 3/span 2;
    -webkit-transform: translate(50%, 20px);
    transform: translate(50%, 20px);
}
}



.content-menu__image-container{
  display: block;
    width: 100%;
    flex-grow: 0;
    text-align: center;
    min-height: 120px;
}
.content-menu ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
figure{
  margin: 0;
  padding: 0;
}
figure img{
  max-width: 100%;
  height: auto;
}

.content-menu-posta::after{
  content: "";
  width: 100%;
  order: 3;
}
@supports (grid-area: auto)
 {
  .content-menu li.content-menu-posta:after {
    height: 50px;
    width: 10px;
  }
 }

.content-menu-posta:not(:last-child):after {
  min-width: 15px;
  margin: 0 5px;
  content: " ";
  display: block;
  background: url(../images/papizza/next-step-arrow.svg) no-repeat center 40%;
  background-size: 100% auto;
}
@media (min-width: 769px)
{
  .content-menu-posta-1 {
    grid-column: 1;
   
  }
}
@supports (grid-area: auto)
{
  .content-menu-posta-1 {
    grid-column: 1;
  }
}

@media (min-width: 769px)
{
  .content-menu-posta-2 {
    grid-column: 2;
    
  }
}
@supports (grid-area: auto)
{
  .content-menu-posta-2 {
    grid-column: 2;
  }
}

@media (min-width: 769px)
{
  .content-menu-posta-3 {
    grid-column: 3;
    grid-row: 1  !important;
  }
}
@supports (grid-area: auto)
{
  .content-menu-posta-3 {
    grid-column: 3;
    grid-row: 1 !important;
  }
}

@media (min-width: 769px)
{
  .content-menu-posta-4 {
    grid-column: 4;
    grid-row: 1 !important;
   
  }
}
@supports (grid-area: auto)
{
  .content-menu-posta-4 {
    grid-column: 4;
    grid-row: 1 !important;
  }
}

@media (min-width: 769px)
{
  .content-menu-posta-5 {
    grid-column: 5;
    grid-row: 1 !important;
  }
}
@supports (grid-area: auto)
{
  .content-menu-posta-5 {
    grid-column: 5;
    grid-row: 1 !important;
  }
}


figcaption{
  display: block;
  font-size: 20px;
  font-family: "Veneer", Arial, sans;
  font-weight: inherit;
  font-style: inherit;
}
.content-menu-posta .row img{
  width: 70% !important;
  height: auto;
}




.content-franchise .col-md-5{
  background: #cf2027 !important;
  padding: 2.0625em 1.1875em !important;
}
@media screen and (min-width: 900px)
{
  .content-franchise .card-title {
    color: #f0f0f0;
    font-size: 76px;
 
    font-family: "Veneer", Arial, sans;
}

}

.content-franchise .card-text{
  margin-bottom: 2rem;
  font-size: 30px !important;
  color: #010101;
  font-family: "Veneer", Arial, sans;
}

.btn-franchise{
  display: inline-block;
  font-family: "Veneer", Arial, sans;
  color: white;
  background: #010101;
  padding: 0.1515151515em 0.4545454545em;
  text-decoration: none;
  font-size: 33px;
}
.btn-franchise:hover{
 background:#010101 ;
 color: white;
 cursor: pointer;
}


/* 
Footer 
 */


.footer{
    font-family: "Futura", Arial, sans;
    color: white;
    position: relative;
    z-index: 30;
    width: 100%;
    background: #545253;
    height: 65vh;
}
footer{
  display: block;
}

.footer-legal-social{
  background: #2b2b2b;
  padding: 2.0625em 0.625em 3.125em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2.125em;
}

.footer ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.social-option{
  display: inline-block;
  font-size: 30px;
  color: #010101;
  background: white;
  margin-right: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.fa-facebook-f:before,
.fa-tiktok:before,
 .fa-instagram::before{
  color: #010101;
}



li {
  display: list-item;
  text-align: -webkit-match-parent;
}



.footer-legal{
  color: #545253;
  font-size: 0.6875em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media (min-width: 769px)
{
  .footer-legal{
    max-width: 675px;
}
}
.footer-legal__option{
  margin: 20px;
  display: inline-block;
  text-align: center;
 
}


.footer-legal__option a{
  text-decoration: none;
  color: #545253;
}

.footer-legal__option a:hover{
  color: #545253;
}
.footer-jmlgroup{
  text-align: center;
  
}
.logo-footer{
  -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    margin-bottom: 0.625em;
}
.footer-copyright{
  font-size: 0.75em;
}
/* 
Classe commune */
.menu-pizza, .local-papizza, .Franchise,.commande {
  padding-top: 100vh;
  overflow-x: hidden;
 }

/* 
Page menu
 */


 @media (min-width: 769px){
  .menu-pizza .menu-cover {
    background-image: url(../images/papizza/header.jpg);
  }
}

.menu-pizza .menu-cover {
  background: url(../images/papizza/header.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 769px){
  .menu-cover {
    padding-bottom: 41.1420204978%;
}
}

.menu-cover {
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 100vh;
  padding-bottom: 145.8%;
}

.pizza-slice__icon {
  width: 265px;
}
.pizza-slice__icon {
  top: 120px;
  top: calc(calc(7.1614583333vh) + 80px);
  position: fixed;
  text-align: center;
  width: 266px;
  height: 266px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 769px){
  .cover-title {
    font-size: 1.875em;
    background: #cf2027;
    flex-direction: row;
}
}
@supports (grid-area: auto){
  .cover-title {
    font-size: 1.875em;
    background: #cf2027;
    flex-direction: row;
}
}
.cover-title {
  position: fixed;
  top: 350px;
  top: calc(calc(7.1614583333vh) + ( 65px + 166px ) + 80px);
  width: auto;
  left: 50%;
  font-size: 1.25em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 769px){
  .cover-line {
    top: calc(calc(7.1614583333vh) + ( 65px + 166px + 65px ) + 80px);
}
}
@supports (grid-area: auto){
  .cover-line {
    top: calc(calc(7.1614583333vh) + ( 65px + 166px + 65px ) + 80px);
}
}

.cover-line {
  position: fixed;
  top: 490px;
  top: calc(calc(7.1614583333vh) + ( 65px + 166px + 150px ) + 80px);
  width: 1px;
  background: #f5e0c3;
  height: 83px;
  height: calc(calc(9.5052083333vh) + 50px);
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (min-width: 769px){
  .pilule2 {
    display: none;
}
}

.pilule2{
  position: absolute;
  left: 6px;
  width: 185px;
  bottom: 70px;
  display: block;
}
.cover-accueil {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #cf2027;
  color: white;
  font-size: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0.5em;
  padding-bottom: 0;
  z-index: 10;
}

 .social-menu{
    position: absolute;
    bottom: 0.5em;
    right: 20px;
    color: #f5e0c3;
    font-size: 1.875em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
 }
 @media (min-width: 769px){
  .pilule {
    display: block;
    text-align: right;
    margin-right: 10px;
}
 }

 .social-menu-option:first-child {
  margin-right: 1.8301610542%;
}
.social-menu-option {
  text-shadow: 0 0 20px rgb(1 1 1 / 50%);
}

.menu-intro{
  position: relative;
  z-index: 10;
  color: #bf7e24;
  background: #f6e3a5 url(../images/papizza/triangle-tile.jpg) repeat top left;
  padding: 4.5625em 2.3125em;
  font-family: "Futura", Arial, sans;
}
.menu-intro p {
  font-size: 15px !important;
}
@media screen and (min-width: 900px){
  .menu-intro p {
    font-size: 18px;
  }
}
@media screen and (min-width: 320px){
  .menu-intro p {
    font-size: calc(13px + 5 * ((100vw - 320px) / 580));
  }
}


@media (min-width: 769px){
  .menu-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "al-gusto al-gusto"
        "elige elige"
        "al-corte al-corte"
        "gruesa fina"
        "complementos postres";
}

}
@supports (grid-area: auto){
  .menu-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "al-gusto al-gusto"
        "elige elige"
        "al-corte al-corte"
        "gruesa fina"
        "complementos postres";
  }
}

.menu-table{
  background: #eae7e7 url(../images/papizza/bg-pizza.jpg) no-repeat center 200px;
  position: relative;
  z-index: 20;
}



@media (min-width: 769px){
  .menu-pizza-au-goût {
    grid-area: al-gusto;
}

}
@supports (grid-area: auto){
  .menu-pizza-au-goût {
    grid-area: al-gusto;

  }

}

@media (min-width: 769px){
  .menu-pizza-au-goût {
    background-size: 450px auto;
}

}
@supports (grid-area: auto){
  .menu-pizza-au-goût {
    background-size: 450px auto;

  }
}

@media (min-width: 769px){
  .menu-pizza-au-goût {
    padding-top: 0;
    background: url(../images/papizza/pinsa.png) no-repeat right center, url(../images/papizza/body-bg-tile.jpg) repeat left top !important;
}

}
@supports (grid-area: auto){
  .menu-pizza-au-goût {    padding-top: 0;
    background: url(../images/papizza/pinsa.png) no-repeat right center, url(../images/papizza/body-bg-tile.jpg) repeat left top !important;
  }
}


.menu-category-pizza-gouter-texts{
  padding: 4.75em 2.3125em 3.125em 2.3125em;
  width: auto;
}

@media (min-width: 769px){
  .menu-category-pizza-gouter-title, .menu-category-pizza-gouter-description {
    margin-left: 14.7144948755%;
    width: 35.3587115666%;
}

}
@supports (grid-area: auto){
  .menu-category-pizza-gouter-title, .menu-category-pizza-gouter-description {
    margin-left: 14.7144948755%;
    width: 35.3587115666%;
}

}

.menu-category-pizza-gouter-title{
    color: #cf2027;
    font-family: "Veneer", Arial, sans;
}

.menu-category-pizza-gouter-title, .menu-category-pizzas-au-tribune-title{
  font-size: 4.375em;
    line-height: 1;
    margin-bottom: 0.2441860465em;
    text-transform: uppercase;
   
   
}
strong {
  font-weight: bold;
}
.menu-category-pizza-gouter-description p{
  font-family: "Futura", Arial, sans;
}

@media (min-width: 769px){
  .menu-pizza-au-tribune {
    grid-area: al-corte;
}
}
@supports (grid-area: auto){
  .menu-pizza-au-tribune {
    grid-area: al-corte;
}
}

.menu-table-category {
  background: #eae7e7 url(../images/papizza/body-bg-tile.jpg) repeat top left;
}

@media (min-width: 769px){
  .menu-category-header-pizzas-au-tribune {
    background: #eae7e7 url(../images/papizza/bg-pizza.jpg) no-repeat center top;
    background-size: contain;
    display: -webkit-box;
    display: -webkit-flex;
    /* display: -ms-flexbox; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

}
@supports (grid-area: auto){
  .menu-category-header-pizzas-au-tribune {
    background: #eae7e7 url(../images/papizza/bg-pizza.jpg) no-repeat center top;
    background-size: contain;
    display: -webkit-box;
    display: -webkit-flex;
    /* display: -ms-flexbox; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

}

@media (min-width: 769px){
  .menu-cabecera-image-au-tribune {
    padding-bottom: 27.2%;
    width: 50%;
    max-height: 250px;
    flex-shrink: 0;
}

}
@supports (grid-area: auto){
  .menu-cabecera-image-au-tribune {
    padding-bottom: 27.2%;
    width: 50%;
    max-height: 250px;
    flex-shrink: 0;
}
.menu-cabecera-image-au-tribune{
  background-size: cover;
}

}
@media (min-width: 769px){
  .menu-category-pizzas-au-tribune-title, .menu-category-pizzas-au-tribune-description {
    margin-left: 29.4289897511%;
    width: 70.7174231332%;
}

}
@supports (grid-area: auto){
  .menu-category-pizzas-au-tribune-title, .menu-category-pizzas-au-tribune-description {
    margin-left: 29.4289897511%;
    width: 70.7174231332%;
}

}
.menu-category-pizzas-au-tribune-descriptio, .menu-category-pizza-gouter-description{
  font-size: 3.375em;
  line-height: 1;
  font-size: 0.875em;
  text-transform: uppercase;
  
}
.menu-category-pizzas-au-tribune-title{
  font-family: "Veneer", Arial, sans;
  color: #010101;
}


@media (min-width: 769px){
  .menu-pâte-épaisse {
    grid-area: gruesa;
    background: #eae7e7;
    padding-left: 26.3543191801%;
}
}
@supports (grid-area: auto){
  .menu-pâte-épaisse {
    grid-area: gruesa;
    background: #eae7e7;
    padding-left: 26.3543191801%;
}
}
.menu-category-pâte-épaisse-texts,.menu-category-pâte-fine-texts {
  padding: 2.5em 2.3125em 1.25em 2.3125em;
}
.menu-category-pâte-épaisse-title {
  font-size: 2.875em;
  line-height: 1;
  margin-bottom: 0.4565217391em;
  text-transform: uppercase;
  font-family: "Veneer", Arial, sans;
  color: #010101;
}
.menu-category-pâte-fine-title {
  font-size: 2.875em;
  line-height: 1;
  margin-bottom: 0.4565217391em;
  text-transform: uppercase;
  font-family: "Veneer", Arial, sans;
  color: #4d0205;
}

.menu-produit-title, .produits-pâte-fine-title{
  font-family: "Futura", Arial, sans;
    font-size: 1.4375em;
    padding: 0 1.6086956522em;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-produit-description, .produits-pâte-fine-description{
  font-family: "Futura", Arial, sans;
    padding: 0 2.1764705882em;
    text-transform: uppercase;
    font-size: 1.0625em;
    padding-bottom: 2.3529411765em;
}

@media (min-width: 769px){
  .menu-pâte-fine {
    background: #eae7e7;
    grid-area: fina;
}
}
@supports (grid-area: auto){
  .menu-pâte-fine {
    background: #eae7e7;
    grid-area: fina;
}
}

.menu-pâte-fine,.produits-pâte-fine-title .produits-pâte-fine-description{
  color: #4d0205;
    padding-bottom: 2.3125em;
}
@media (min-width: 769px){
  .menu-starters {
    grid-area: complementos;
}
}
@supports (grid-area: auto){
  .menu-starters {
    grid-area: complementos;
}
}

.menu-starters{
  background: url(../images/papizza/complementos-icons.jpg) no-repeat right -120px, url(../images/papizza/complementos-tile.jpg) repeat left top;
}
@media (min-width: 769px){
  .menu-starters  .menu-category-starters-texts {
    margin-left: 20.4978038067%;
    margin-right: 20.4978038067%;
}
}
@supports (grid-area: auto){
  .menu-starters .menu-category-starters-texts {
    margin-left: 20.4978038067%;
    margin-right: 20.4978038067%;
}
}

.menu-starters .menu-category-starters-texts,  .menu-desserts .menu-category-desserts-texts{
  margin: 0;
}
.menu-category-starters-texts{
padding: 4.75em 2.3125em 3.125em 2.3125em;
}
.menu-category-starters-title, .menu-category-desserts-title{
  font-size: 3.6875em;
  font-weight: bold;
  font-family: "Veneer", Arial, sans;
  color: #010101;
  text-transform: uppercase;
}

.menu-category-starters-descritpion, .menu-category-desserts-descritpion, .franchise-information-paragrah
{
  font-family: "Futura", Arial, sans;
  text-transform: uppercase;
  font-size: 0.8125em;
  margin-bottom: 3.0769230769em;
}



@media (min-width: 769px){
  .menu-desserts {
    grid-area:postres;
}
}
@supports (grid-area: auto){
  .menu-desserts {
    grid-area: postres;
}
}
.menu-desserts{
  background: url(../images/papizza/desserts.png) no-repeat center -120px, url(../images/papizza/dessert-tile.png) repeat left top;
}

@media (min-width: 769px){
  .menu-desserts .menu-category-desserts-texts {
    margin-left: 20.4978038067%;
    margin-right: 20.4978038067%;
}

}

@supports (grid-area: auto){
  .menu-desserts .menu-category-desserts-texts {
    margin-left: 20.4978038067%;
    margin-right: 20.4978038067%;
}

}
.menu-desserts .menu-category-desserts-texts {
 margin: 0;
}

.menu-category-desserts-texts {
padding: 4.75em 2.3125em 3.125em 2.3125em;
}




/* Page Local */
@media (min-width: 769px)
{
  .local-papizza .cover-local {
    background-image: url(../images/papizza/header-local.jpg);
}
}
.local-papizza .cover-local{
  background: url(../images/papizza//header-local.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 769px){
  .cover-local {
    padding-bottom: 41.1420204978%;
}
}
.cover-local{
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 100vh;
}

.local-intro{
  font-size: 0.875em;
  background: #f0f0f0 url(../images/papizza/tile-bg-corte.jpg) repeat top left;
  position: relative;
  z-index: 10;
  font-family: "Futura", Arial, sans;
  text-transform: uppercase;
  padding: 4.625em 1.6875em;
}
@media (min-width: 769px)
{
  .local-wrapper {
    width: 71.4494875549%;
}
}
.local-wrapper{
  width: 87.2%;
  margin: 0 auto;
}
@media screen and (min-width: 900px)
{
  .local-intro p {
    font-size: 13px !important;
}
}
@media screen and (min-width: 320px)
{
  .local-intro p {
    font-size: calc(13px + 5 * ((100vw - 320px) / 580));
}
}
.local-information {
  background: url(../images/papizza/body-bg-tile.jpg) repeat;
}

@media (min-width: 769px){
  .local-information, .franchise-information, .types-de-franchises, .franquicia__gracias {
    padding-top: 4.625em;
}
}

.local-information{
  position: relative;
  z-index: 20;
  padding-bottom: 3.125em;
}
.local-information-title{
  max-width: 70%;
  margin: 0 auto 0 14.7144948755%;
  font-size: 5.375em;
    color: #cf2027;
    line-height: 1;
    font-family: "Veneer", Arial, sans;
    width: 85.2%;
}


.local-map {
  position: relative;
  height: 80vh;

}

@media (min-width: 1024px){
  .local-map-liste {
    position: absolute;
    background: #cf2027 !important;
    z-index: 5;
    padding: 0;
    min-width: 301px;
    left: 9.5168374817%;
    max-height: 100%;
    overflow-y: auto;
   
  }
}
.local-map-liste{
  background: #8eb3d1;
  justify-content: center;
  display: flex;
  padding: 5.625em 0;

}

.local-map-locaux{
  background: #cf2027;
    padding: 7.6470588235%;
    width: 88.2352941176%;
    max-width: 350px;
}

.local-map-local{
  font-family: "Futura", Arial, sans;
  margin-bottom: 0.9375em;
}
.local-map-lacal-title{
  color: white;
    font-size: 1.5625em;
}
.local-map-province{
  transition: max-height 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.local-map-province-adress{
  color: #010101;
  font-size: 1.125em;
  margin-bottom: 0.4761904762em;
}



@media (min-width: 1024px){
  .local-map-deco {
    padding-bottom: 73.6456808199%;
    max-height: calc(100vh - 120px);
}
}

.local-map-deco{
    position: relative;
    padding-bottom: 136%;
    background: url(../images/papizza/deco4.jpg) no-repeat center center !important;
    background-size: cover !important;
}


/* 
page franchise
 */
  .Franchise {
    background-color: #d7d3d3;
 }


@media (min-width: 769px){
  .Franchise .cover-franchise{
    background-image: url(../images/papizza/header-franchise.jpg);
  }
}

.Franchise .cover-franchise{
  background: url(../images/papizza/header-franchise.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 769px)
{
  .cover-franchise{
    padding-bottom: 41.1420204978%;
  }
}

.cover-franchise{
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 100vh;
}
.franchise-intro {
  font-size: 0.875em;
  background: #5d3722;
  /* background-image: url(../images/papizza/intro-tile.jpg), -webkit-linear-gradient(45deg, #5d3722, #6e4024); */
  /* background-image: url(../images/papizza/intro-tile.jpg), -o-linear-gradient(45deg, #5d3722, #6e4024); */
  background-image: url(../images/papizza/intro-tile.jpg), linear-gradient(45deg, #5d3722, #6e4024);
  position: relative;
  z-index: 10;
  font-family: "Futura", Arial, sans;
  text-transform: uppercase;
  padding: 4.625em 1.6875em;
}

@media (min-width: 769px){
  .franchise-wrapper {
    max-width: 966px;
    margin: 0 auto;
  }
}

@media (min-width: 769px){
  .franchise-parent-wrapper {
    flex-direction: row;
}
}
.franchise-parent-wrapper{
  display: flex;
}
.franchise-paragraph {
  color: white;
}

@media (min-width: 767px){
  .franchise-information {
    background-position: center, center;
    padding-top: 4.625em;
  }
}

@media (min-width: 769px){
  .franchise-information {
    width: 50%;
    background-size: cover;
    order: 1;
  }
}
.franchise-information{
  position: relative;
    z-index: 20;
    padding-bottom: 3.125em;
}
@media (min-width: 767px){
  .franchise-information-title,.types-de-franchises-title, .franchise-information-paragrah , .types-franchises-paragraph{
    max-width: 70%;
    margin: 0 auto 0 10.7144948755%;
  }
}
.franchise-information {
  background-image: url(../images/papizza/metal-tile.jpg);
  
}

.franchise-information-title .types-de-franchises-title {
  width: 85.2%;
}
.franchise-information-title {
  font-size: 4.2em;
  color: white;
  margin-bottom: 5% !important;
  font-family: 'Veneer',Arial, sans;
}

@media (min-width: 767px){
  .franchise-information-paragrah, .types-franchises-paragraph {
    max-width: 70%;
    margin: 0 auto 0 14.7144948755%;
  }
}
.franchise-information-paragrah{
  font-family: 'Futura',Arial,sans !important;
  font-size: 14px !important;
  margin: 0px 114.583px 23px 110.26px !important;
}


.franchise-information-paragrah{
  position: relative;
  z-index: 20;
  padding-bottom: 3.125em;
  background: url(../images/locales/foto-local.jpg) no-repeat right top, url(../images/papizza/body-bg-tile.jpg) repeat;
 
}

@media screen and (max-width: 769px) {
  .franchise-information-paragrah{
    text-align: center !important;
    font-size: 10px !important;
  }
}

@media (min-width: 769px){
  .franchise-formulaire {
    width: 50%;
    max-width: 750px;
}
}
@supports (grid-area: auto)
{
  .franchise-formulaire {
    width: 50%;
    max-width: 750px;
}
}
@media (min-width: 769px){
  .franchise-formulaire {
  
    order: 2;
    background-size: cover;
}
}

@media (min-width: 769px){
  .formulaire {
    background-color: #d7d3d3;
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(10px, auto));
    /* grid-template-areas:
        "title title"
        "name lastname"
        "email phone"
        "city ."
        "comment comment"
        "comms comms"
        "policy policy"
        "captcha submit"; */
}

}
@supports (grid-area: auto){
  .formulaire {
    background-color: #d7d3d3;
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(10px, auto));
    /* grid-template-areas:
        "title title"
        "name lastname"
        "email phone"
        "city ."
        "comment comment"
        "comms comms"
        "policy policy"
        "captcha submit"; */
}

}
.formulaire{
  position: relative;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: left;
  font-family: "Futura", Arial, sans;
  padding: 4.625em 1.6875em;
  color: #545253;
}

@media (min-width: 769px){
}
.franchise-formulaire-name {
    grid-area: name;
}

@supports (grid-area: auto){

}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  /* border-width: 2px; */
  /* border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial; */
}
.franchise-formulaire-name {
    grid-area: name;
    margin-top:20px;
}

.input-form{
  
    border-width: 2px;
    border-color: #010101;
    width: 45%;
    margin-bottom: 1.25em;
    padding: 4px 8px;
    margin: 10px;
    
}

@media screen and (max-width: 769px) {
  .input-form{
    width: 93%;
  }
}

input, select {
  font-family: inherit;
  font-size: inherit;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
}
.formulaire-textarea{
  border-width: 2px;
  border-color: #010101;
  width: 100%;
  margin-bottom: 1.25em;
  padding: 4px 8px;
}
textarea {
  writing-mode: horizontal-tb !important;
  font-family: monospace;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: field;
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
}

.button-envoie{
  float: right;
}
.button-envoie input[type="submit"],
.cmd-pizza{
  background: #010101;
  color: #fff;
  padding: 10px 20px 8px;
  font-family: "Veneer", Arial, sans;
  text-transform: uppercase;
}

@media (min-width: 769px){
  .types-de-franchises{
    background-image: url(../images/papizza/foto-tipos.png), url(../images/papizza/description-tile.jpg);
    background-size: 45% auto, auto auto;
    background-position: right center, top left;
  }
}

.types-de-franchises{
    position: relative;
    z-index: 20;
    padding-bottom: 3.125em;
    background: url(../images/papizza/foto-tipos.png) no-repeat right top, url(../images/papizza/body-bg-tile.jpg) repeat;
}

.types-de-franchises-title {
  font-size: 4.5em;
  color: #010101;
  font-family: 'Veneer',Arial, sans;
  margin: 0px 229.132px 0px 220.538px;
}

@media (min-width: 767px){
  .types-franchises-paragraph {
    width: 32.9428989751%;
}
}
.types-franchises-paragraph{
  margin-bottom: 1.6428571429em;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width:769px){
  .types-de-franchises{
    position: relative;
    z-index: 20;
    padding-bottom: 3.125em;
    background: url(../images/papizza/body-bg-tile.jpg) no-repeat right top, url(../images/papizza/body-bg-tile.jpg) repeat;
}
.types-de-franchises-title {
  font-size:3.5em;
 
}
.types-franchises-paragraph{
  margin-bottom: 0.6428571429em;
   
}
}

.types-franchises-btn{
  font-family: "Veneer", Arial, sans;
  font-size: 18px;
  border-style: none;
  background-color: #010101;
  color: white;
  padding: 10px 20px 0;
  width: 150px;
  margin-top: 25px;
}
.types-franchises-btn{
  text-decoration: none;
}
.types-franchises-btn:hover{
  color:#ffff;
  margin-bottom: 25px;
}


/* 
page commande

*/
@media (min-width: 769px){
  .commande .cover-commande {
    background-image: url(../images/papizza/header-commande.jpg);
  }
}

.cover-commande {
  background: url(../images/papizza/header-mobile-comde\ \(1\).jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}


@media (min-width: 769px){
  .cover-commande {
    padding-bottom: 41.1420204978%;
  }
}
.cover-commande {
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 100vh;
}

.commande-intro{
  font-size: 0.875em;
  background: #5d3722;
  background-image: url(../images/papizza/tile-bg-en-casa.png), linear-gradient(45deg, #5d3722, #6e4024);
  position: relative;
  z-index: 10;
  font-family: "Futura", Arial, sans;
  text-transform: uppercase;
  padding: 4.625em 1.6875em;
}


@media (min-width: 769px){
  .commande-wrapper {
    max-width: 966px;
    margin: 0 auto;
  }
}


.commande-paragraph {
    color: #f5e0c3;
}

center {
  display: block;
  text-align: -webkit-center;
}
.commande-intro-btn{
  background: #cf2027;
  text-align: center;
  font-size: 1.5625em;
  padding: 0.3125em 0.625em;
  color: white;
  font-family: "Veneer", Arial, sans;
}
.commande-intro-btn{
  text-decoration: none;
  
}
.commande-intro-btn:hover{
  color: #fff;
}
.commande-form-container{
  background: white;
}
.commande-formulaire{
  max-width: 400px;
}

.formulaire-select {
  padding: 4px 8px;
  -webkit-appearance: none;
  position: relative;
  border-radius: 0px;
}

.formulaire-select{
  border-width: 2px;
  border-color: #010101;
  width: 100%;
  margin-bottom: 1.25em;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
}

select {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: field;
  cursor: default;
  margin: 0em;
  border-style: solid;
  border-image: initial;
}


option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}