@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}



.navbar {
    position: fixed;
    background:  #545253 url('../images/papizza/header-bg-tile.jpg') repeat top left;
    width: 100%;
    left: 0;
    right: 0;
    height: 100px;
    top: 0;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 1.3909224012% 0.9375em;
    z-index: 999;
    
}
nav .navbar-nav li a{
    font-family: "Veneer", Arial, sans;
    color: #010101;
    line-height: 1.4;
    justify-content: space-between;
    font-size:20px; 
}
.navbar-nav .active,
.navbar-nav li a:hover{
    color: #010101;
  border-bottom: 3px solid #cf2027 ;

}


@media screen and (max-width:984px) {
    nav .logo{
        width: 75px;
    }
    nav .connect-left{
        display: block !important;
        display: flex !important;
        flex-direction: column;
    }
    nav .connect-right{
        display: none !important;
    }
    nav .navbar-nav{
        position:relative;
        float: right;
        top:20px;
        left: 0;
        right: 80px;
        bottom: 0;
        text-align: right;
        width: 200px;
        z-index: 2;
        background-color: rgb(0, 0, 0, .9);
        transition: all .5s ease-in-out;
        padding: 10px;

    }
    nav  .navbar-nav li a{
        padding: 8px;
        font-size: 12px;
        color: #fff !important;

    }
 
    .navbar-nav .active,
    .navbar-nav li a:hover{
    color: #fff;
    border-bottom: 3px solid #cf2027 ;
  
  }
  
   
}


nav .connect{
    display: flex;
    flex-direction: column;
}

.connect a{
    font-family: "Veneer", Arial, sans;
    text-decoration: none;
    padding: 2px;
    margin: 5px 10px 0px;
    text-align: center;
    color: #fff;
    font-size:18px;
}

.connect .log-up {
    background:#cf2027;
}
.connect .login {
    background: #436503;
}
.connect a:hover{
    color: #fff;
}

@media screen and (max-width:652) {

    .connect a{
        font-size: 10px !important;
    }
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaStd-Medium.woff2") format("woff2"), url("../fonts/FuturaStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../fonts/FuturaStd-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Veneer";
    src: url("../fonts/Veneer.woff2") format("woff2"), url("../fonts/Veneer.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Veneer";
    src: url("../fonts/Veneer-Italic.woff2") format("woff2"), url("../fonts/Veneer-Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "fontello";
    src: url("../fonts/fontello.eot?89225120");
    src: url("../fonts/fontello.eot?89225120#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?89225120") format("woff2"), url("../fonts/fontello.woff?89225120") format("woff"), url("../fonts/fontello.ttf?89225120") format("truetype"), url("../fonts/fontello.svg?89225120#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "fontello-tiktok";
    src: url("../fonts/fontello_tiktok.woff2?89225120") format("woff2"), url("../fonts/fontello_tiktok.woff?89225120") format("woff");
    font-weight: normal;
    font-style: normal;
  }


.banner{
    position: relative;
    margin-top: 100%;
   background: url('../images/papizza/slider1.jpg') no-repeat;
   background-attachment: fixed;
   background-size: cover;
}




